html {
  box-sizing: border-box;
  background-color: #f4f4f4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 375px;
  height: 475px;  
  overflow-y: scroll;
  padding: 15px;
}

.hidden {
  display: none;
}

.inactive {
  color: white;
  background-color: #c4c4c4 !important;
}
